# Node & Dependency Folders
node_modules/
dist/
coverage/
.serverless

# Logs
*.log
npm-debug.log*

# Environment Variables
.env

# Compiled outputs
*.tgz

# Optional: Ignore local config (but keep a template)
tests/utils/config.local.json