# Exclude test-related files and folders
tests/
*.test.ts
*.log
.env
tests/utils/config.local.json
tests/docker-init/

# Exclude dev config/tools
src/
.github/
jest.config.js
tsconfig.json
.eslintrc.js

# Ignore local package builds
*.tgz

# Ignore Git-related metadata if ever bundled
.gitignore
.npmignore